#project1{
    background-image: url(../images/projects/base_apparel.png);
    background-size: cover;
}

#project2{
    background-image: url(../images/projects/intro_component.png);
    background-size: cover;
}

#project3{
    background-image: url(../images/projects/bookmark_manager.png);
    background-size: cover;
}

#project4{
    background-image: url(../images/projects/smash_bracket.png);
    background-size: cover;
}

#project5{
    background-image: url(../images/projects/to_do_list.png);
    background-size: cover;
}

#project6{
    background-image: url(../images/projects/tip_calc.png);
    background-size: cover;
}

#project7{
    background-image: url();
    background-size: cover;
}

#project8{
    background-image: url();
    background-size: cover;
}