@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700;800isplay=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400isplay=swap");
@import "./variables";
@import "./mixins";
@import "./projects";

body {
  margin: 0px;
  @include opensans;
}

html {
  scroll-behavior: smooth;
}

#main-nav {
  background-color: $midnightBlue;

  .navbar-nav {
    @media only screen and (max-width: 575px) {
      background-color: $mediumBlue;
    }
  }

  li {
    text-transform: uppercase;
    font-size: 0.8rem;
    letter-spacing: 0.25em;
  }
}

.heading-div {
  @include sectionHeading;
  padding-top: 30px;
}

.font-light {
  @include raleway;
  font-weight: 300;
}

#header-section {
  background: radial-gradient(circle, $darkBlue, $midnightBlue);
  height: 100vh;

  #header-image-container {
    padding: 30vh 0 0 0;

    img {
      max-width: 450px;
      height: auto;
      -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
      -moz-animation: fadein 2s; /* Firefox < 16 */
      -ms-animation: fadein 2s; /* Internet Explorer */
      -o-animation: fadein 2s; /* Opera < 12.1 */
      animation: fadein 2s;

      @media only screen and (max-width: 575px) {
        max-width: 80%;
      }
    }

    /* Safari 4.0 - 8.0 */
    @keyframes fadein {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }

    /* Firefox < 16 */
    @-moz-keyframes fadein {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }

    /* Safari, Chrome and Opera > 12.1 */
    @-webkit-keyframes fadein {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
  }
}

#about-section {
  background-color: $midnightBlue;

  #about-content-div {
    .pull-quote {
      @include raleway;
      margin: 5px 0 0 0;
      font-weight: 800;
      color: $mediumBlue;
    }

    #headshot-div {
      img {
        max-width: 50%;
        border-radius: 10px;
        box-shadow: 2px 2px 10px 2px #00000077;
      }

      @media only screen and (max-width: 575px) {
        img {
          max-width: 40%;
        }
      }
    }
  }

  #stack-div {
    background-color: $mediumBlue;
    border: 5px solid $darkBlue;
    border-radius: 50px;
    top: 75px;

    #stack-icon-div {
      max-height: 25vh;
      padding-bottom: 30px;

      .stack-icon {
        max-height: 80px;
      }
    }
  }
}

#projects-section {
  background-color: $darkBlue;
  padding: 100px 0 30px 0;

  #projects-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 10px;
    margin-top: 30px;
  }

  .project-thumb {
    background-color: $lightBlue;
    min-width: 300px;
    max-width: 500px;
    min-height: 200px;
    max-height: 350px;
    flex-grow: 1;
    margin: 10px;
    box-shadow: 2px 2px 10px 2px #00000077;
    transition: 0.5s;
    border-radius: 5px;

    @media only screen and (min-width: 768px) {
      min-width: 250px;
      max-width: 400px;
      min-height: 200px;
      max-height: 350px;
    }

    @media only screen and (min-width: 992px) {
      min-width: 400px;
      max-width: 650px;
      min-height: 300px;
      max-height: 400px;
    }

    @media only screen and (min-width: 1200px) {
      min-width: 500px;
      max-width: 650px;
      min-height: 350px;
      max-height: 450px;
    }

    &:hover {
      cursor: pointer;
      box-shadow: none;
      transform: scale(1.05);
    }
  }

  #call-to-action-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $mediumBlue;
    border: 5px solid $midnightBlue;
    border-radius: 50px;
    top: 100px;

    .body-copy {
      margin: 0 auto;
      text-align: center;
      color: $lightBlue;
      max-width: 80%;
      padding: 0 0 30px 0;
    }
  }
}

#contact-section {
  background-color: $midnightBlue;
  padding: 100px 0 50px 0;

  #form-div {
    margin: 30px 0 0 0;
    .input-div {
      width: 800px;
      max-width: 100%;
    }

    form {
      @include formInput;
      background-color: $darkBlue;
      border-radius: 5px;
      padding: 10px;
      margin: 0 auto;
      max-width: 700px;

      label {
        color: $lightBlue;
      }

      ::placeholder {
        // @include montserrat;
        @include opensans;
        color: $lightBlue;
      }

      #submit-bttn-div {
        margin: 0 auto;

        #submit {
          cursor: pointer;
          text-transform: uppercase;
          font-weight: 700;
          color: $lightBlue;
          transition-duration: 300ms;
          box-shadow: 0px 4px $midnightBlue;
          padding: 5px;
          width: 100%;
          border: 1px solid $lightBlue;
          background-color: transparent;

          &:hover {
            color: $mediumBlue;
            background: $lightBlue;
            box-shadow: none;
          }
        }
      }
    }
  }

  #contact-menu-div {
    padding: 50px 0 0 0;
    .social-media-icon {
      max-height: 80px;
    }
  }
}

#submission-modal {
  div.modal-content {
    margin: 15% auto;
  }
}

/* Modal Content/Box */
.modal-content {
  background-color: $darkBlue;
  margin: 2% auto;
  padding: 20px;
  border: 1px solid $lightBlue;
  border-radius: 10px;
  width: 75%; /* Could be more or less, depending on screen size */
  height: auto;
  box-shadow: 2px 2px 10px 2px #00000077;

  h4 {
    color: $white;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    margin-bottom: 10px;
  }

  img {
    max-width: 100%;
    border-radius: 5px;
  }

  video {
    max-width: 100%;
    border-radius: 5px;
  }

  .modal-description-column {
    padding: 5%;
  }

  @include bttnStyle;
}

/* The Close Button */
.close {
  color: $lightBlue;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.hidden {
  display: none;
}

.body-copy {
  font-size: 1.1em;
  line-height: 1.8;
  text-overflow: ellipsis;
  max-width: 500px;
  color: $white;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  @media only screen and (max-width: 575px) {
    font-size: 0.9em;
  }
}

.project-description {
  color: $lightBlue;
  margin-top: 10px;
}

footer {
  min-height: 25vh;
  align-items: center;
  background: linear-gradient($midnightBlue, rgb(15, 59, 83));
  padding-top: 30px;

  #footer-container {
    padding: 0 0 50px 0;
  }

  .footer-heading {
    font-weight: 400;
    color: $lightBlue;
    margin-top: 0px;
    padding-top: 30px;
  }

  #footer-menu {
    list-style: none;

    .my-nav-link {
      text-transform: uppercase;
      font-size: 1em;
      letter-spacing: 0.25em;
      text-decoration: none;
      color: $lightBlue;
    }
  }
}
