@mixin mobileStyle {
  #main-nav {
    display: none;
  }

  #mobile-nav {
    position: sticky;
    z-index: 1;
  }

  #mobile-nav-bar {
    background-color: $midnightBlue;

    & #mobile-logo {
      max-width: 8%;
      height: 50px;
      opacity: 70%;
      margin-right: auto;
      margin-left: 0;
    }

    & #menu-button {
      margin-left: auto;
      margin-right: 0;
      width: 40px;
      height: 25px;
      margin-top: 15px;
      padding-bottom: 15px;
      border: none;
      background: transparent;
      background-size: cover;
      background-image: url(../images/menu-icon-WHITE.png);
    }

    & div.wrapper {
      display: flex;
    }
  }

  #mobile-nav-menu {
    max-height: 0px;
    background-color: $mediumBlue;
    transition: max-height 0.2s ease-out;
    overflow: hidden;

    & div.wrapper {
      @include flexCenter;
      // transition: max-height 0.2s ease-out;
    }

    & ul {
      list-style: none;
      margin: 0px;
      padding: 0;

      & li {
        padding: 10px;

        & a {
          text-decoration: none;
          text-transform: uppercase;
          letter-spacing: 0.5em;
          font-size: 10px;
          color: $white;
        }
      }
    }
  }

  #home-section {
    height: 60vh;
    // align-items: unset;
    padding-bottom: 20vh;

    & #home-image-container {
      & img {
        display: block;
        margin: 0 auto;
        max-width: 200px;
        height: auto;
      }
    }
  }

  #about-section {
    & #about-content-div {
      display: flex;
      flex-direction: column;
      align-items: center;

      & #headshot-div {
        display: flex;
        justify-content: center;
        margin: 5px 0 15px 0;

        & #headshot-img {
          border-radius: 5px;
          box-shadow: 2px 2px 10px 2px #00000077;
          max-height: 150px;
        }
      }

      & #about-text {
        @include flexCenter;
        flex-direction: column;
        text-align: center;
        margin-left: 0px;

        & .pull-quote {
          font-size: 18px;
        }
      }
    }

    & div.wrapper {
      & #stack-div {
        border-radius: 30px;
        position: relative;
        top: 60px;

        & h2 {
          text-align: center;
          @include heading;
          color: $lightBlue;
          font-size: 20px;
          margin-bottom: 15px;
        }
      }
    }

    & .stack-icon {
      max-width: 50px;
    }
  }

  .heading-div {
    & h3.heading-medium {
      padding-top: 30px;
      font-size: 20px;
      letter-spacing: 5px;
      margin-bottom: 10px;
    }
  }

  #projects-section {
    padding-top: 30px;

    & #call-to-action-div {
      background-color: $mediumBlue;
      border-radius: 30px;
      position: relative;
      top: 100px;

      & h2 {
        @include heading;
        color: $lightBlue;
        text-align: center;
        padding: 25px;
        margin: 0;
        font-size: 20px;
      }
    }
  }

  #projects-grid {
    justify-content: center;
    padding: 5px;
    margin-top: 20px;
  }

  .project-thumb {
    background-color: $lightBlue;
    min-width: 200px;
    width: 100%;
    height: 150px;
  }

  .modal-content {
    width: 80%;
    min-height: 25%;
    margin: 25% auto;

    & .modal-description-column {
      background-color: $mediumBlue;
      border-radius: 5px;
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 10px 0 0 0;
    }
  }

  .body-copy {
    font-size: 14px;
    line-height: 1.8;
    max-width: 300px;
  }

  #contact-section {
    padding: 30px 0px;

    & #form-div {
      padding: 0 0 20px 0;
      display: flex;
      justify-content: center;

      & form {
        width: 100%;
      }
    }

    & #contact-menu-div {
      display: flex;
      justify-content: space-around;
      margin: 20px 0 0 0;

      & div {
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-around;

        & .social-media-icon {
          width: 60px;
        }
      }
    }
  }

  footer {
    height: 15vh;
    padding-top: 20px;
    padding-bottom: 30px;

    & #footer-menu-div {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
    }

    & #footer-menu {
      display: flex;
      flex-direction: column;
      list-style: none;
      margin: 0;
      padding: 0;

      & li {
        margin: 12px 0 0 0;
        font-size: 12px;
      }

      & li a {
        text-decoration: none;
        color: $mediumBlue;
      }
    }
  }
}
